body {
    margin: 0px;
    padding: 0px;
    background-color: #F9F5E3;
}

main {
    padding: 16px;
}

footer {
    background-color: #55251D;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    bottom: 0px;
    position: fixed;
}

img {
    height: 200px;
    box-shadow: 6px 6px 1px 1px #EAE6D5;

}

nav {
    background-color: #55251D;
    border-bottom: 1px solid black;
    padding: 16px;
}

.taco {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

a {
    color: #DF9A57;
    text-decoration: none;
}

a:hover {
    color: #1F0812;
}

h1 {
    color: #DF9A57;
}

tr:nth-child(even) {
    background-color: #FDF3EF;
}

img:hover {
    height: 225px;
    transition-duration: 0.5s;
}
